<div class="messages">
	
	<h3><%= conversation_name(@conversation) %></h3>
	<div id="messages-list" data-conversation="<%= @conversation.id %>" data-currentuserid="<%= current_user.id %>">
		<% if @messages.count > 0 %><%= will_paginate @messages %><% end %>
		<table>
			<tbody>
				<%= render @messages %>
			</tbody>
		</table>
	</div>
	<div id="typing">
		
	</div>

	<%= form_for [@conversation, @message], remote: true do |f| %>
	 	<%= f.text_area :body, class: "form-control" %>
		<%= f.submit "Add Message", class: "btn btn-default", type: "hidden" %>
	<% end %>

</div>

<script type="text/javascript">
	var ready = function() {
		$('#message_body').focus();

		$('.new_message').on("ajax:success", function(e, data, status, xhr) {
			$('#message_body').val('');
		});

		$("#message_body").keydown(function(e){ 
			if(e.which == 13 /*&& e.ctrlKey*/){ 
				$('#new_message').submit(); 
			}; 
		});
	};
	$(document).ready(ready);
</script>