<div class="user_search">
<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h2 class="text-center">User Search</h2>
		<%= form_tag(users_path, :method => "get", id: "search-form", remote: true) do %>
			<div class="input-group stylish-input-group">
				<%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control", autofocus: true, autocomplete: 'off' %>
				<span class="input-group-addon">
					<%= button_tag(type: "submit") do %>
						<i class="fa fa-search" aria-hidden="true"></i>
					<% end %>
				</span>
			</div>

			<h5 class="text-center" id="additional-menu">Show additional options</h5>

			<div class="additional-options">

				<div class="row">
					<div class="col-md-4">
						<h5>Gender:</h5>
						<%= select_tag :gender, options_for_select(User::GENDER_TYPES.zip(1..3)), { class: "form-control", include_blank: true} %>
					</div>
					<div class="col-md-3">
						<h5>Min age:</h5>
						<%= number_field_tag :min_age, nil, in: 17...100, class: "form-control" %>
					</div>
					<div class="col-md-3">
						<h5>Max age:</h5>
						<%= number_field_tag :max_age, nil, in: 17...100, class: "form-control" %>
					</div>
					<div class="col-md-2">
						<h5>Online:</h5>
						<%= check_box_tag :online, '1', false, class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<h5>Country:</h5>
						<%= select_tag :country_id,options_from_collection_for_select(Country.order(:name), :id, :name), {include_blank: true, autofocus: true, :class => "form-control"} %>
					</div>
					<div class="col-md-4">
						<h5>State:</h5>
						<%= select_tag :state_id,option_groups_from_collection_for_select(Country.order(:name), :states, :name, :id, :name), {include_blank: true, autofocus: true, :class => "form-control"} %>
					</div>
					<div class="col-md-4">
						<h5>City:</h5>
						<%= select_tag :city_id,option_groups_from_collection_for_select(State.order(:name), :cities, :name, :id, :name), {include_blank: true, autofocus: true, :class => "form-control"} %>
					</div>
				</div>

	     </div>

		<% end %>

		<p id="users-count"><%= pluralize(@users.count, 'user') %> found.</p> 
		<div class="list-group users_list" id="user-list">
			<%= render @users %>
		</div>
		<%= will_paginate @users %>
		
	</div>
</div>
</div>