<div class="row">
	<div class="col-md-4 text-center">
		<%= image_tag @user.avatar.url(:medium) %>
		<% unless current_user == @user %>
			<%= link_to "Send message", conversations_path(recipient_id: @user.id), method: :post, class: "btn btn-default" %>
		<% end %>
	</div>
	<div class="col-md-8">
		<h2><%= @user.first_name + ' ' + @user.last_name  %></h2>

		<% if current_user == @user %>

			<% if @user.city_id %>
				<h3>City: <%= City.find(@user.city_id).name %></h3>
			<% else %>
				<h3>City: <span class="h4"><%= link_to "Please fill in your profile", edit_user_registration_path %></span></h3>
			<% end %>

			<% if @user.birth_date %>
				<h4><%= @user.birth_date.strftime("%d %B %Y") %> (<%= pluralize(@user.age, 'year') %>)</h4>
			<% else %>
				<h4>Birth date: <span class="h5"><%= link_to "Please fill in your profile", edit_user_registration_path %></span></h4>
			<% end %>

		<% else %>

			<% if @user.city_id %>
				<h3>City: <%= City.find(@user.city_id).name %></h3>
			<% end %>
			<% if @user.birth_date %>
				<h4><%= @user.birth_date.strftime("%d %B %Y") %> (<%= pluralize(@user.age, 'year') %>)</h4>
			<% end %>

		<% end %>

		<% if [2, 3].include? @user.gender  %>
			<h4>Gender: <%= @user.gender_txt %></h4>
		<% end %>

	</div>
</div>